@model TurboViewModel

<h3 class="text-center text-danger">Do you really want to delete</h3>

<br />

<div class="col-md-3">
    <img class="col-md-6" src=@Model.MainImage />
    <br />
    <a asp-area="" asp-controller="Turbo" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
    <p>Scroll Type: @Model.ScrollType.ScrollType</p>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-md" asp-area="" asp-controller="Turbo" asp-action="Turbos">Go back</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-danger btn-md" asp-area=@AdminAreaName asp-controller="Turbo" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>
