@model ProjectCarViewModel

@{
    ViewData["Title"] = "Project Car";
}

<div class="text-center">
    <h1>@Model.Name</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <img src=@Model.MainImage class="col-lg-10" />
    </div>
    <div class="col-md-6">
        <h4>Description</h4>
        <p>@Model.Description</p>
    </div>
</div>