@model IEnumerable<AllTurbosViewModel>

<partial name="_SubCategoriesPartial" />

<h1>TURBOS</h1>

<br />

<br />
<br />

<div class="row">
    @foreach(var turbo in Model)
    {
        <div class="col-md-3">
            <img class="col-md-6" src=@turbo.MainImage />
            <br />
            <a asp-area="" asp-controller="Turbo" asp-action="Details" asp-route-id="@turbo.Id">@turbo.Name</a>
            <p>Scroll Type: @turbo.ScrollType.ScrollType</p>
            @if(turbo.Quantity > 0)
            {
                string btnId = "btn" + turbo.Id;
                <p>Available</p>
                @if (!User.IsInRole(AdminRoleName))
                {
                    <button id=@btnId onclick="addToCart(@turbo.Id)" type="submit" class="btn btn-primary btn-sm">ADD TO CART</button>
                }
            } else
            {
                <p>Out of stock</p>
            }
        </div>
    }
</div>

<script src="~/js/turbo.js"></script>