@model IEnumerable<AllTurbosViewModel>

<partial name="_CategoriesPartial" />

<div class="row" id="categories">
    <div class="col-md-4">
        <a class="btn btn-info" asp-controller="Turbo" asp-action="Turbos">Turbos</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-info" asp-controller="ConnectingRod" asp-action="ConnectingRods">Connecting Rods</a>
    </div>
</div>

<h1>TURBOS</h1>

<br />

<br />
<br />

<div class="row">
    @foreach(var turbo in Model)
    {
        <div class="col-md-3">
            <img class="col-md-6" src=@turbo.MainImage />
            <br />
            <a asp-controller="Turbo" asp-action="Details" asp-route-id="@turbo.Id">@turbo.Name</a>
            <p>Scroll Type: @turbo.ScrollType.ScrollType</p>
            @if(turbo.Quantity > 0)
            {
                <p>Available</p>
                <button onclick="addToCart(@turbo.Id)" type="submit" class="btn btn-primary btn-sm">ADD TO CART</button>
            } else
            {
                <p>Out of stock</p>
            }
        </div>
    }
</div>

<script src="~/js/turbo.js"></script>