<partial name="_CategoriesPartial" />

<div class="row" id="categories">
    <div class="col-md-4">
        <a asp-controller="Turbo" asp-action="Turbos">Turbos</a>
    </div>
    <div class="col-md-4">
        <a asp-controller="ConnectingRod" asp-action="ConnectingRods">Connecting Rods</a>
    </div>
</div>