@using ECFPerformance.Infrastructure.Data.Enums
@model IEnumerable<AllProductsViewModel>

<partial name="_CategoriesPartial" />

<br />

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-3">
            <img class="col-md-6" src=@item.MainImage />
            <br />
            @{
                switch (item.SubCategory)
                {
                    case SubCategoryEnum.Turbo:
                        <a asp-area="" asp-controller="Turbo" asp-action="Details"
                           asp-route-id="@item.Id" class="col-md-6">@item.Name</a>
                        break;
                    default:
                        <p class="col-md-6">@item.Name</p>
                        break;
                }
            }
            <p class="col-md-6">$ @item.Price</p>
            <br />
        </div>
    }
</div>