@using ECFPerformance.Core.ViewModels
@model IEnumerable<AllProjectCarsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<video autoplay muted loop id="homepageDrift">
    <source src="~/videos/homepgDrift.mp4" type="video/mp4">
</video>

<div class="text-center">
    <h1 class="display-4">OUR PROJECTS</h1>
</div>

@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-sm-6">
                <div class="card ">
                    <div class="card-body">
                        <img src=@post.MainImage />
                        <h4 class="card-title text-center">@post.Name</h4>
                    </div>
                </div>
            </div>
        }
    </div>
}
