@{
    ViewData["Title"] = "Home Page";
}

<video autoplay muted loop id="homepageDrift">
    <source src="~/videos/homepgDrift.mp4" type="video/mp4">
</video>

<div class="text-center">
    <h1 class="display-4">OUR PROJECTS</h1>
    @foreach(var proj in Model)
    {
        
    }
</div>
