@using static ECFPerformance.Constants.GeneralApplicationConstants
@model IEnumerable<AllUsersViewModel>
@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        ECF PERFORMANCE ADMIN AREA <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> products and project cars.
        <br />
    </p>
    <p class="lead mt-1">
        You can also see <b>all users</b> in the system.
    </p>
    <hr class="my-4">
    <a asp-area="@AdminAreaName" asp-controller="Turbo" asp-action="Add"
       class="btn btn-primary btn-lg">Add Turbo</a>
    <a asp-area="" asp-controller="Turbo" asp-action="Turbos"
       class="btn btn-primary btn-lg">Edit Turbo</a>
    <span>  |   </span>
    <button type="button" class="btn btn-primary btn-lg" id="editTurboBtn">All Users</button>
</div>

<div id="usersTable">
</div>

<script src="~/js/site.js"></script>