<div class="text-center">
    <h1 class="display-4">CATEGORIES</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <a asp-controller="Category" asp-action="Engine">Engine</a>
    </div>
    <div class="col-md-3">
        <a href="#">Suspension</a>
    </div>
    <div class="col-md-3">
        <a href="#">Exhaust</a>
    </div>
</div>
<br />
