<div class="text-center">
    <h1 class="display-4">CATEGORIES</h1>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <a class="btn btn-primary" asp-controller="Category" asp-action="Engine">Engine</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary" href="#">Suspension</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary" href="#">Exhaust</a>
    </div>
</div>
<br />
