<partial name="_CategoriesPartial" />

<div class="row d-flex justify-content-center" id="categories">
    <div class="col-md-4">
        <a class="btn btn-info" asp-controller="Turbo" asp-action="Turbos">Turbos</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-info" asp-controller="ConnectingRod" asp-action="ConnectingRods">Connecting Rods</a>
    </div>
</div>